.skeleton {
  width: 100%;
  max-width: 700px;
  height: 200px;
  background: red;
  border-radius: 4px;
  @extend %skeleton;

  &-comm {
    height: 80px !important;
  }

  &:nth-child(2n) {
    height: 400px;
  }

  &__btn {
    width: 80px;
    height: 40px;
    @extend %skeleton;
  }

  &__fullName {
    width: 120px;
    height: 30px;
    @extend %skeleton;
  }

  &__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    @extend %skeleton;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    span {
      color: #e8e8e8;
    }
  }
}

%skeleton {
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 600px;
  animation: shine 1.6s infinite;
}

@keyframes shine {
  0% {
    background-position: -100px + 68;
  }

  40%,
  100% {
    background-position: 140px + 68;
  }
}
