.comment {
  width: 100%;
  border-radius: 4px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--text);

  .user {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 15px;
    margin-bottom: 25px;

    &__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    &__name {
      margin-bottom: 12px;
      color: var(--text);

      span {
        color: rgb(112, 112, 112);
        font-size: 13px;
        margin-left: 5px;
      }
    }

    &__comm {
      color: var(--text);
    }
  }

  .close {
    font-size: 22px;
    color: var(--danger);
    padding: 2px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 10px;

    &:hover {
      border-color: var(--danger);
    }
  }
}
